﻿.radMapWrapper {
    padding: 0 21px 21px 21px;
    background-color: #EBEDEE;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.demo-container .mapTitle {
    color: #444444;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
}

.leftCol {
    float: left;
}

.rightCol {
    padding-left: 55px;
    font-size: 14px;
    font-family: "Segoe UI",Segoe,"Roboto","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    line-height: 19px;
}

    .rightCol .country {
        font-size: 24px;
        font-weight: normal;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .rightCol .dealerName {
        font-weight: bold;
    }

    /*.rightCol .city {
        font-weight: bold;
    }*/

    .rightCol .email {
        color: #0394ae;
    }

        .rightCol .email a {
            color: #0394ae;
            text-decoration: none;
        }

            .rightCol .email a:hover {
                text-decoration: underline;
            }

    .rightCol .location {
        border-top: 1px solid #c9c9c9;
        margin-top: 10px;
        padding-top: 10px;
    }

    .rightCol .address {
        width: 235px;
    }

.flag {
    background-image: url('~/images/unitedstates.png');
    height: 40px;
    width: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

.flag-unitedstates {
    background-image: url('/images/unitedstates.png');
    background-position: 0 -240px;
}

.flag-denmark {
    background-position: 0 -120px;
}

.flag-australia {
    background-position: 0 0;
}

.flag-bulgaria {
    background-position: 0 -40px;
}

.flag-india {
    background-position: 0 -160px;
}

.flag-unitedkingdom {
    background-position: 0 -200px;
}

.flag-germany {
    background-position: 0 -80px;
}

.RadMap .k-tooltip-content {
    font-family: "Segoe UI",Segoe,"Roboto","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #1eabe2;
}

.MyMap {
    border: 1px solid #FFF;
}

.RadMap .k-i-marker-custom-color-shape:before {
    color: #1eabe2 !important;
}

.RadMap .k-widget .k-navigator:before {
    color: #1eabe2 !important;
}